<div class="row">
  <div class="col-md-7">
  Enter CAP and Kit #

  <div class="modal-content">
    <div style="padding:2%;font-size: 12px;">
    Enter CAP# and Kit# Once you have entered and confirmed the number you will be taken to the assessment for the activity.
    <br/><br/>
    Once you press the "Assign Kit....." button the Kit# will be associated with your name - no one else will be able to claim the kit for credit. 

    <br/><br/> 
    <div class="text-center">
    <i style="color:red">*</i> CAP #: <input type="text"/><br/>
    <i style="color:red">*</i> Kit #: <input type="text"/><br/>
    <button type="submit" >Submit</button>
  </div>
</div>
  </div>
  </div>
  <div class="col-md-5">
    Your kits
    <div class="modal-content">
      <div style="padding:2%;font-size: 12px;">
        <h1 style="font-size: 18px;">72637362</h1>
        <br/>
        <h3>CAP #125412 Mailing. PIP C Results Submited CME/CE Pending </h3>
        <br/>
        <a>Participant Summary </a><a>CMC/CE Credit</a>
      </div>
    </div>
    <br/>
    <div class="modal-content">
        <div style="padding:2%;font-size: 12px;">
          <h1 style="font-size: 18px;">22611362</h1>
          <br/>
          <h3>CAP #125412 Mailing. PIP C Results Submited CME/CE Pending </h3>
          <br/>
          <a>Participant Summary </a><a>CMC/CE Credit</a>
        </div>
      </div>
    </div>
  </div>